@model List<TodoItem>
@{
	ViewData["Title"] = "Todo List";
}

<div>
	<div class="row m-3">
		<div class="col-8">
			<h1>Todo List Home Page</h1>	
		</div>
		<div class="col-4">
			<a asp-controller="Todo" asp-action="Add" class="btn btn-primary">Add Todo Item</a>
		</div>
	</div>
	@if (Model.Count() > 0)
	{
		<table class="table table-bordered table table-striped" style="width: 100%;">
			<thead>
				<tr>
					<th>Todo Item</th>
					<th>Completed</th>
					<th>Mark As Complete</th>
					<th></th>
					
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td width="40%">
							@if (@item.IsDone)
							{
								<div class="completed" >@item.Item</div>
							} else
							{
								<div>@item.Item</div>
							}
						</td>
						<td width="25%">
							@item.IsDone
						</td>
						<td width="15%">
							<a asp-controller="Todo" asp-action="HandleIsDone" asp-route-item="@item.Item">
								@if (@item.IsDone)
								{
									<span class="fas fa-toggle-on fa-2x"></span>
								} else
								{
									<span class="fas fa-toggle-off fa-2x"></span>
								}
							</a>
						</td>
						<td class="text-center">
							<div class="w-75 btn-group" role="group">
								<a class="btn btn-danger" asp-controller="Todo" asp-action="Delete" asp-route-item="@item.Item">Delete</a>
						
								<a class="btn btn-primary" asp-controller="Todo" asp-action="Edit" asp-route-item="@item.Item">Update</a>
							</div>
						</td>
							
						
					</tr>
				}
			</tbody>
		</table>
	} else {
		<p>There are no Todo Items on file.</p>
	}
</div>
<script>
	$(document).ready(function() {
		var completed = $(".completed")
		completed.css('text-decoration-line', 'line-through')
	})
</script>